@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,700);@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);body {
  font-family: "Open Sans","OpenSans",sans-serif;
  background: #fff;
  font-size: 16px;
  line-height: 1.35;
  position: relative;
  height: 100%;
  overflow-y: scroll; }

body, p, a, span, div {
  font-family: 'Roboto', sans-serif; }

h1, h2, h3, h4, h5 {
  font-family: 'Work Sans', sans-serif; }

header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  padding: 5px 0;
  background: #fff;
  z-index: 10000;
  box-shadow: 0 0 2px #747474;
  -webkit-box-shadow: 0 0 2px #747474;
  opacity: .95; }
  header .container .row {
    display: flex;
    align-items: center; }
    header .container .row .menu {
      width: 50%;
      text-align: right; }
  @media print {
    header {
      display: none; } }

.logo {
  position: relative;
  display: block;
  text-decoration: none !important; }
  .logo img {
    position: absolute;
    bottom: -10px;
    right: 0;
    width: 120px;
    transition: all 1s ease; }
    @media (max-width: 768px) {
      .logo img {
        width: 80px;
        left: 100px !important; } }
  .logo p {
    display: block;
    color: #012C6D;
    text-align: left;
    font-size: 40px;
    font-weight: 700;
    transition: all 1s ease; }
    @media (max-width: 768px) {
      .logo p {
        font-size: 20px; } }
  .logo span {
    font-weight: 100; }
  .logo.scrolled p {
    font-size: 18px; }
  .logo.scrolled img {
    width: 80px;
    left: 77px !important; }

.topnav {
  text-align: right; }
  .topnav a {
    color: #333;
    border-bottom: 1px transparent dotted; }
  .topnav .active, .topnav a:hover {
    border-bottom: 1px #fff dotted;
    color: #012C6D; }
  .topnav svg {
    fill: #333;
    position: relative;
    top: -2px; }
  .topnav li ul {
    display: none; }
  .topnav li:hover > ul {
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 5px;
    list-style-type: none;
    width: 150px;
    margin-left: -40px;
    text-align: center; }
    .topnav li:hover > ul li {
      padding: 10px 0; }
    .topnav li:hover > ul a {
      color: #333; }

.headline-user {
  padding: 70px 0 50px;
  text-align: center; }
  .headline-user h1 {
    color: #fff;
    text-align: right;
    line-height: 1.1;
    font-weight: bold;
    display: inline-block; }
    .headline-user h1 small {
      font-size: 2rem;
      opacity: .7; }
  .headline-user .headline-thumb {
    border: 5px #fff solid;
    margin: -80px 0 0 10px;
    display: inline-block;
    box-shadow: -60px 20px 120px 70px rgba(255, 255, 255, 0.34);
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%); }

.start-btn {
  margin-top: 50px;
  background: #00B39B;
  border: 2px #00B39B solid;
  font-size: 1.25rem;
  padding: 1.25rem 4rem; }
  .start-btn:hover, .start-btn:focus, .start-btn:active {
    background: #fff;
    border-color: #fff;
    color: #3D83DF; }
  @media (max-width: 768px) {
    .start-btn {
      padding: 10px 30px; } }
  @media print {
    .start-btn {
      display: none; } }

.intro {
  background: #5F9AE8;
  min-height: 780px;
  padding-top: 150px; }
  .intro.manager {
    background: #00C3A5; }
    .intro.manager .start-btn {
      background: #1662C6;
      border: 2px #1662C6 solid; }
  @media (max-width: 768px) {
    .intro {
      min-height: 550px; } }

.leader .intro {
  background: #f09233; }
  .leader .intro.manager {
    background: #243641; }
    .leader .intro.manager .start-btn {
      background: #243641; }

.talent .intro {
  background: #5F9AE8; }
  .talent .intro.manager {
    background: #00C3A5; }
    .talent .intro.manager .start-btn {
      background: #00C3A5; }

.dashboard .intro {
  background: #00C3A5; }
  .dashboard .intro.manager {
    background: #00B39B; }
    .dashboard .intro.manager .start-btn {
      background: #1662C6; }

.title {
  color: #5F9AE8;
  font-size: 42px;
  line-height: 1.1;
  font-weight: bold;
  text-align: center;
  margin: 55px 0;
  position: absolute;
  left: 0;
  right: 0;
  top: -120px; }

.hamburger {
  padding: 17px 13px 13px;
  display: inline-block;
  cursor: pointer;
  position: relative;
  outline: 0;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  margin-right: -10px;
  overflow: visible;
  display: none; }
  .hamburger-box {
    width: 24px;
    height: 16px;
    display: inline-block;
    position: relative; }
    .hamburger-box .hamburger-inner {
      display: block;
      top: 1px;
      transition-duration: .4s;
      transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
      .hamburger-box .hamburger-inner:after, .hamburger-box .hamburger-inner:before {
        content: "";
        display: block; }
      .hamburger-box .hamburger-inner, .hamburger-box .hamburger-inner:after, .hamburger-box .hamburger-inner:before {
        width: 24px;
        height: 2px;
        background-color: #00b39b;
        border-radius: 2px;
        position: absolute;
        transition-property: transform;
        transition-duration: .15s;
        transition-timing-function: ease; }
      .hamburger-box .hamburger-inner:before {
        top: 7px; }
      .hamburger-box .hamburger-inner:after {
        top: 14px; }
  @media (max-width: 768px) {
    .hamburger {
      display: inline-block; } }
  .hamburger.clicked .hamburger-box .hamburger-inner {
    background: none; }
  .hamburger.clicked .hamburger-box .hamburger-inner:before {
    transform: rotate(-45deg); }
  .hamburger.clicked .hamburger-box .hamburger-inner:after {
    transform: rotate(45deg);
    top: 8px; }

@media (max-width: 768px) {
  #navbar {
    display: none; }
    #navbar.show {
      display: block;
      width: 100vw;
      position: fixed;
      left: 0;
      background: #fff; }
      #navbar.show .nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between; }
        #navbar.show .nav .nav-item {
          padding: 20px 0;
          margin-left: 1em;
          width: 100%;
          text-align: left; }
          #navbar.show .nav .nav-item ul {
            width: 100%;
            background: #fff;
            margin-left: -16px; }
            #navbar.show .nav .nav-item ul li {
              width: 100%;
              text-align: left;
              padding-left: 20px; } }

.leader .logo img {
  left: 176px; }

.leader .logo--small {
  font-size: 10px; }

.leader .headline-user .headline-thumb {
  margin: -200px 0 0 10px; }

footer {
  padding: 25px 0; }

.talent-matrix {
  padding: 0;
  background: #747474; }

.talent-matrix-graph {
  position: relative;
  top: -125px;
  background: #fff;
  margin: 0 auto;
  padding: 70px;
  box-shadow: 0 0 20px #333;
  width: 875px;
  color: #8c8c8c; }
  .talent-matrix-graph__headline {
    position: absolute;
    padding-top: 140px;
    top: -120px;
    left: 0;
    width: 100%;
    text-align: center;
    color: #666; }
  .talent-matrix-graph table {
    margin: 0;
    position: relative;
    z-index: 10; }
  .talent-matrix-graph .middle td {
    border-bottom: 5px #eceeef solid; }
  .talent-matrix-graph td {
    width: 175px;
    height: 80px; }
  .talent-matrix-graph__results, .talent-matrix-graph__values {
    font-size: 20px; }
  .talent-matrix-graph__results {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    top: 486px; }
  .talent-matrix-graph__values {
    display: block;
    left: 45px;
    position: absolute;
    top: 271px;
    transform: rotate(270deg);
    transform-origin: left bottom 0; }
  .talent-matrix-graph__number-x {
    position: relative;
    bottom: -74px;
    left: -16px; }
    .talent-matrix-graph__number-x.first {
      left: -25px; }
    .talent-matrix-graph__number-x.last {
      left: 125px; }
  .talent-matrix-graph__number-y {
    position: relative;
    top: 55px;
    left: -30px; }
    .talent-matrix-graph__number-y.last {
      top: -23px;
      left: -42px; }
  .talent-matrix-graph__score-circle {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #3D83DF;
    position: absolute;
    z-index: 100;
    border: 2px #2775db solid; }
    .talent-matrix-graph__score-circle:hover {
      background: #2169c8;
      cursor: pointer; }
  .talent-matrix-graph__other-score-circle {
    display: block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #ddd;
    position: absolute;
    z-index: 50;
    border: 1px #ccc solid; }
    .talent-matrix-graph__other-score-circle:hover {
      background: #ccc;
      cursor: pointer; }

.checkboxes {
  position: relative;
  top: -75px;
  color: #fff;
  font-size: 1.75rem; }

.talent-matrix-graph__area-label {
  position: absolute;
  bottom: 5px;
  right: 0;
  color: #747474;
  display: block;
  float: right;
  width: 90px;
  font-size: 0.8rem;
  text-align: center; }
  .talent-matrix-graph__area-label--label-50 {
    right: 90px;
    color: #aaa; }
  .talent-matrix-graph__area-label--label-25 {
    color: #657b1b; }

.area-container {
  position: relative;
  width: 100%;
  height: 100%; }
  .area-container .table-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #DDECA9;
    z-index: 1; }
    .area-container .table-area .area-25 {
      position: absolute;
      z-index: 5;
      left: 0;
      bottom: 0;
      width: 0;
      height: 0;
      background: #fff; }
    .area-container .table-area .area-50 {
      position: absolute;
      z-index: 3;
      left: 0;
      bottom: 0;
      width: 0;
      height: 0;
      background: #f5f5f5; }

.leader .talent-matrix {
  padding: 0;
  background: #747474;
  overflow: auto; }

.leader .talent-matrix-graph {
  position: relative;
  top: -125px;
  background: #fff;
  margin: 0 auto;
  padding: 70px 70px 35px 70px;
  box-shadow: 0 0 20px #333;
  width: 875px;
  color: #8c8c8c; }
  .leader .talent-matrix-graph__headline {
    position: absolute;
    padding-top: 140px;
    top: -120px;
    left: 0;
    width: 100%;
    text-align: center;
    color: #666; }
  .leader .talent-matrix-graph table {
    margin: 0;
    position: relative;
    z-index: 10;
    border: none;
    border-bottom: 1px #fff solid; }
  .leader .talent-matrix-graph .middle td {
    border-bottom: 5px #eceeef solid; }
  .leader .talent-matrix-graph td {
    width: 40px;
    height: 70px;
    max-height: 70px;
    vertical-align: middle;
    background: transparent;
    position: relative;
    padding: 0; }
    .leader .talent-matrix-graph td:first-of-type {
      width: 170px !important;
      max-width: 170px;
      background: #fff;
      border: none; }
      .leader .talent-matrix-graph td:first-of-type span {
        background: #fff;
        display: inline-block;
        padding: 0 20px 0 0;
        line-height: 110%;
        font-size: 14px; }
    .leader .talent-matrix-graph td .top-25 {
      position: absolute;
      right: 2px;
      bottom: 2px;
      font-size: 12px;
      opacity: 0.5; }
  .leader .talent-matrix-graph .scores {
    position: absolute;
    top: -50px; }
    .leader .talent-matrix-graph .scores td {
      border: #fff;
      background: #fff;
      height: 40px;
      top: 0;
      left: 0; }
      .leader .talent-matrix-graph .scores td span {
        position: relative;
        left: 7px;
        top: 0;
        padding: 0;
        cursor: pointer;
        z-index: 100; }
  .leader .talent-matrix-graph__score-circle {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #3D83DF;
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0;
    margin-left: -8px;
    margin-top: 25px;
    border: 2px #2775db solid; }
    .leader .talent-matrix-graph__score-circle:hover {
      background: #2169c8;
      cursor: pointer; }
  .leader .talent-matrix-graph__other-score-circle {
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #000;
    position: absolute;
    z-index: 50;
    border: 1px #000 solid;
    margin-left: -4px;
    margin-top: -5px;
    left: 0;
    top: 0;
    opacity: .1; }
    .leader .talent-matrix-graph__other-score-circle:hover {
      background: #ccc;
      cursor: pointer; }

.leader .talent-matrix-graph__area-label {
  position: absolute;
  bottom: 5px;
  right: 0;
  color: #747474;
  display: block;
  float: right;
  width: 90px;
  font-size: 0.8rem;
  text-align: center; }
  .leader .talent-matrix-graph__area-label--label-50 {
    right: 90px;
    color: #aaa; }
  .leader .talent-matrix-graph__area-label--label-25 {
    color: #657b1b; }

.leader .area-container {
  position: relative;
  width: 100%;
  height: 100%; }
  .leader .area-container .table-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #DDECA9;
    z-index: 1; }
    .leader .area-container .table-area .area-25 {
      position: absolute;
      z-index: 5;
      left: 219px;
      top: 0;
      width: 100px;
      height: 70px;
      background: #fafafa; }
    .leader .area-container .table-area .area-50 {
      position: absolute;
      z-index: 3;
      left: 0;
      bottom: 0;
      width: 0;
      height: 0;
      background: #f5f5f5; }

.leader .legend {
  font-size: 15px;
  margin-bottom: 25px;
  position: relative;
  top: 15px;
  opacity: .7; }
  .leader .legend ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
  .leader .legend li {
    padding: 5px 0; }
  .leader .legend span {
    display: inline-block;
    background: #DDECA9;
    width: 30px;
    height: 16px;
    position: relative;
    top: 3px; }

#dashboard {
  background: #fff;
  box-shadow: 0 0 20px #333;
  position: relative; }

@media print {
  article {
    padding: 0;
    position: relative !important;
    float: none !important; } }

.dashboard {
  padding: 0; }
  @media print {
    .dashboard {
      padding: 0;
      position: relative !important;
      float: none !important;
      display: block; } }
  .dashboard__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    background: #fff;
    margin: 0 auto;
    padding: 10px;
    padding-bottom: 150px;
    width: 100%;
    color: #8c8c8c;
    transition: all .5s ease; }
    .dashboard__wrapper iframe {
      pointer-events: none; }
    @media print {
      .dashboard__wrapper {
        padding: 0;
        position: relative !important;
        float: none !important;
        display: block;
        text-align: center; } }
    .dashboard__wrapper .chart {
      margin: 25px 20px;
      cursor: pointer;
      transition: all .5s ease;
      width: 370px;
      height: 340px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: relative;
      page-break-before: auto;
      page-break-after: auto;
      page-break-inside: avoid;
      display: block; }
      @media print {
        .dashboard__wrapper .chart {
          margin: 25px 5px;
          width: 320px;
          height: 100%;
          margin-top: 50px;
          display: inline-block !important;
          float: none !important;
          position: static !important;
          display: inline;
          box-sizing: content-box !important; } }
      .dashboard__wrapper .chart.hidden {
        display: none;
        opacity: 0;
        transition: opacity 1s ease-out; }
        @media print {
          .dashboard__wrapper .chart.hidden {
            display: none !important;
            opacity: 1; } }
        .dashboard__wrapper .chart.hidden.show {
          display: inline-block !important;
          opacity: 1;
          animation: showCharts .5s forwards; }

@keyframes showCharts {
  0% {
    display: none;
    opacity: 0; }
  50% {
    display: inline-block;
    opacity: 0; }
  100% {
    display: inline-block;
    opacity: 1; } }
          @media print {
            .dashboard__wrapper .chart.hidden.show {
              display: none;
              opacity: 1 !important; } }
      .dashboard__wrapper .chart.opinions {
        justify-content: space-between;
        width: 45%; }
        .dashboard__wrapper .chart.opinions blockquote {
          page-break-inside: avoid; }
        .dashboard__wrapper .chart.opinions label {
          color: #1662C6;
          font-size: 20px;
          display: block;
          text-align: center; }
        @media (max-width: 1033px) {
          .dashboard__wrapper .chart.opinions {
            width: 100%;
            margin: 25px 0; } }
      .dashboard__wrapper .chart__wrapper {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 20px #bfbfbf;
        transition: width .2s ease,height .2s ease;
        background: #fff; }
        @media print {
          .dashboard__wrapper .chart__wrapper {
            page-break-before: auto;
            page-break-after: auto;
            page-break-inside: avoid; } }
        .dashboard__wrapper .chart__wrapper.quotes {
          height: 100%;
          overflow-x: hidden;
          overflow-y: auto;
          align-items: flex-start;
          justify-content: flex-start;
          padding: 20px 0;
          height: 100%;
          max-height: 280px; }
          @media print {
            .dashboard__wrapper .chart__wrapper.quotes {
              max-height: 100%; } }
          .dashboard__wrapper .chart__wrapper.quotes blockquote {
            margin-left: 10px;
            font-size: 0.8rem; }
        .dashboard__wrapper .chart__wrapper .show-more {
          z-index: 3;
          padding: 10px;
          margin-top: -20px; }
        .dashboard__wrapper .chart__wrapper span:hover {
          color: #3D83DF; }
        .dashboard__wrapper .chart__wrapper label {
          font-size: 20px;
          color: #1662C6; }
        .dashboard__wrapper .chart__wrapper-container canvas {
          height: auto !important;
          min-height: 200px;
          width: 338px !important;
          transition: all .3s ease; }
          .dashboard__wrapper .chart__wrapper-container canvas#_270Chart, .dashboard__wrapper .chart__wrapper-container canvas#knowledgeChart {
            height: 270px !important; }
        .dashboard__wrapper .chart__wrapper:hover {
          background: #f2f2f2;
          box-shadow: 0 0 40px #bfbfbf; }
      .dashboard__wrapper .chart.clicked {
        z-index: 2; }
        .dashboard__wrapper .chart.clicked .chart__wrapper {
          position: absolute; }
          .dashboard__wrapper .chart.clicked .chart__wrapper iframe {
            pointer-events: all; }
        .dashboard__wrapper .chart.clicked.leftCol .chart__wrapper {
          -webkit-animation: animLeft .5s forwards;
          animation: animLeft .5s forwards; }
        .dashboard__wrapper .chart.clicked.rightCol .chart__wrapper {
          -webkit-animation: animRight .5s forwards;
          animation: animRight .5s forwards; }
        .dashboard__wrapper .chart.clicked .chart__wrapper {
          width: 500px;
          height: 550px;
          z-index: 2; }
          .dashboard__wrapper .chart.clicked .chart__wrapper-container canvas {
            height: 365px !important;
            width: 465px !important; }
            .dashboard__wrapper .chart.clicked .chart__wrapper-container canvas#_270Chart, .dashboard__wrapper .chart.clicked .chart__wrapper-container canvas#knowledgeChart {
              height: 400px !important; }

@-webkit-keyframes animLeft {
  0% {
    left: 0px; }
  100% {
    left: -20px; } }

@keyframes animLeft {
  0% {
    left: 0px; }
  100% {
    left: -20px; } }

@-webkit-keyframes animRight {
  0% {
    left: 0px; }
  100% {
    left: -100px; } }

@keyframes animRight {
  0% {
    left: 0px; }
  100% {
    left: -100px; } }

p, img, canvas {
  float: none !important;
  position: static !important;
  display: inline;
  box-sizing: content-box !important; }

.talent .header {
  background: #3D83DF;
  box-shadow: 0 0 2px #5F9AE8;
  -webkit-box-shadow: 0 0 2px #5F9AE8; }

.talent .talent-matrix, .talent .feedback-recommendation {
  background: #012C6D; }

.talent .text-muted {
  color: #1662C6; }

.talent .start-btn {
  background: #00C3A5;
  border: 2px #00C3A5 solid; }

.feedback-continue, .feedback-stop {
  padding: 120px 0 100px;
  background: #747474;
}

.feedback-continue, .feedback-stop h2 {
  margin-bottom: 100px;
}

.feedback-continue, .feedback-stop {
  padding: 120px 0 100px;
  background: #fff; }
  .feedback-continue h2, .feedback-stop h2 {
    margin-bottom: 100px; }

.feedback-stop {
  border-top: 10px #747474 solid; }

.feedback-continue .blockquote, .feedback-stop .blockquote {
  position:relative;
  margin-bottom: 4rem;

}
.feedback-continue .blockquote-signature, .feedback-stop .blockquote-signature {
  position: absolute!important;
  top: -30px;
  font-weight: 500;
}

.feedback-recommendation {
  padding: 120px 0 100px;
  background: #747474;
}

.feedback-recommendation h2 {
  color: #fff;
  margin-bottom: 100px;
}

.feedback-recommendation .blockquote {
  color: #fff;
  position: relative;
  margin-bottom: 4rem;
}

.feedback-recommendation .blockquote-signature {
  position: absolute !important;
  top: -30px;
  font-weight: 500;
}

.feedback-recommendation .blockquote a {
  color: #818a91;
}

.footer-btn .btn {
  position: relative;
  top: -50px;
  font-size: 2rem;
  padding: 1.375rem 3rem; }

.error-code {
  padding: 50px 0 100px;
  font-size: 14rem; }

.about-placeholder {
  padding-top: 125px;
  padding-bottom: 25px;
  color: #fff;
  background: #747474; }

.qanda {
  padding-top: 50px; }
  .qanda h2 {
    margin-bottom: 25px; }

.about-page .footer-btn {
  padding-top: 50px; }
  .about-page .footer-btn .btn {
    top: 50px; }

.about-page footer {
  background: #747474;
  color: #fff; }

@page {
  margin-top: 2cm;
  margin-bottom: 2cm;
  margin-left: 1.5cm;
  margin-right: 1.5cm; }

.page-break-after {
  page-break-after: always; }
