<!DOCTYPE html>
<html lang="pl" region="pl">
<head>
	<meta charset="utf-8"/>
	<title>FeedbackTool - Your Scoreboard</title>

	<meta name="description" content=""/>
	<meta name="robots" content="index,follow"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<link rel="shortcut icon" type="image/png" href="/platform/img/favicon.png?v=651338300"/>

	<!-- Stylesheets -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
	<link rel="stylesheet" href="/platform/css/main.css" />
</head>

<!-- GTM -->

<header>
	<div class="container">
		<div class="row">
			<div class="col-sm-6">

				<a href="/" class="logo">
					<p>
						<span>Feedback</span>Tool
					</p>
					<img src="/platform/img/docplanner.svg" alt="Docplanner.com"/>
				</a>
			</div>
		</div>
	</div>
</header>

<article>
	<div class="about-placeholder">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="display-2">
						Page not found
					</h1>
				</div>
			</div>
		</div>
	</div>

	<h1 class="text-xs-center error-code">
		404
	</h1>
</article>

<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				FeebackTool | Docplanner.com | 2016
			</div>
		</div>
	</div>
</footer>

<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- Libs -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.0/jquery.scrollTo.min.js"></script>

<!-- Scripts -->
<script src="/platform/js/icheck.min.js"></script>
<script src="/platform/js/scripts.js"></script>
</body>
</html>