<!DOCTYPE html>
<html lang="pl" region="pl">
<head>
	<meta charset="utf-8"/>
	<title>{{ talentmatrix.type | capitalize }}Feedback - Your Scoreboard</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content=""/>
	<meta name="robots" content="index,follow"/>
	{#<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">#}
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<link rel="shortcut icon" type="image/png" href="/platform/img/favicon.png?v={{ random() }}"/>

	{% include "base/stylesheet.html.twig" %}
	{% include "base/tmapp.html.twig" %}

</head>
<body {{ bodyArgs?bodyArgs|raw:null}}>

{% include "base/gtm.html.twig" %}

{% block body %}{% endblock %}

{% include "base/javascript.html.twig" %}

</body>
</html>