{% extends "base/base.htm.twig" %}

{% block body %}

	<header id="header">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">

					{% include "layout/logo." ~ talentmatrix.type ~ ".html.twig" %}

				</div>
				<div class="col-sm-6 menu">

					{% include "layout/navbar.html.twig" %}

				</div>

			</div>
		</div>
	</header>

	{% block content %}{% endblock %}

	{% include "layout/footer.html.twig" %}

{% endblock %}