{% extends "infopage/about.generic.html.twig" %}

{% block questions %}

	{# Q1 #}
	<div class="col-md-12 qanda">
		<h2>Question: <span class="text-muted">What should I do now?</span></h2>
		<blockquote class="blockquote">
			<p>
				Answer: Frist, congratz you got the report. Not everyone did! Now the best you can do is send it to your Team Leader.
			</p>

			<p>Then meet together to choose what to develop:</p>
			<ul>
				<li>one thing to improve about yourself</li>
				<li>one thing youâre good at</li>
			</ul>
			<p>
				Then choose methods (projects, traninings, etc) that will help you develop and put them <a href="//lucek.typeform.com/to/LXIZKX">here</a>
			</p>
		</blockquote>
	</div>

	{# Q2 #}
	<div class="col-md-12 qanda">
		<h2>Question: <span class="text-muted">Why only one thing to improve?</span></h2>
		<blockquote class="blockquote">
			<p>Answer: What? You have more?!? (kidding;) The answer is FOCUS. If you take too many things, you will do a little of everything. If you take one and really focus on it, you will be surprised by your progress.</p>
		</blockquote>
	</div>

	{# Q3 #}
	<div class="col-md-12 qanda">
		<h2>Question: <span class="text-muted">And why one thing I am good at?</span></h2>
		<blockquote class="blockquote">
			<p>Answer: Because you should invest in your talents! It is your talents, not your weaknesses that make you great at what you do. If you want to achieve more and develop, work on things you are good at even more than on your things to improve.</p>
		</blockquote>
	</div>

	{# Q4 #}
	<div class="col-md-12 qanda">
		<h2>Question: <span class="text-muted">I know what to develop. But some methods are not in docplanner. What to do?</span></h2>
		<blockquote class="blockquote">
			<p>Answer: <a href="//lucek.typeform.com/to/LXIZKX">Put your methods here</a> and we will find solutions ;)</p>
		</blockquote>
	</div>

	{# Q5 #}
	<div class="col-md-12 qanda">
		<h2>Question: <span class="text-muted">How is my report calculated?</span></h2>
		<blockquote class="blockquote">
			<p><strong>the RESULTS</strong> rating comes from:</p>
			<ul>
				<li>Your V2MOM (or sales targets) achievement in two last quarters</li>
				<li>Question 1 and 2 of the questionnaire</li>
			</ul>
			<p>
				<strong>the VALUES</strong> rating comes from:
			</p>
			<ul>
				<li>Question 3 and 4 of the questionnaire</li>
			</ul>

			<p><strong>Example</strong></p>
			<p>Albertâs V2MOM realization for previous quarter was 75% and for last quarter 100%. But Talent Matix is on a 1-6 scale so we needed to translate % realization into that scale. So:</p>
			<ul>
				<li>If your achievement is 0-66% your TM rating is 1,</li>
				<li>If your achievement is 67-99% your TM rating is 4,</li>
				<li>If your achievement is 100% and more your TM rating is 6.</li>
			</ul>
			<p>
				So Albertâs V2MOM average rating for Q3+Q4 is 5 =(4+6)/2.
			</p>
			<p>
				The average rating from question 1 and 2 from your Team Leader is 5,5. And from other people you asked for feedback the average rating is: 5,3. The average of those numbers is 5,4.
			</p>
			<p>
				So the final rating on RESULTS is 5,2 = (5+5,4)/2
			</p>
			<p>
				Your VALUES rating is calculated exactly the same way but without the V2MOM realization. So if the average rating of your Team Leader on questions 3 and 4 is 5,8 and othersâ is 5,4, then your final VALUES rating is 5,6.
			</p>
		</blockquote>
	</div>
{% endblock %}