{% extends "base/standard-layout.html.twig" %}

{% set bodyArgs = 'data-offset="0" data-target="#navbar" data-spy="scroll" class="about-page"' %}
{% set scrolltoInNavbar = false %}

{% block content %}

	<div class="about-placeholder">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="display-4">
						About {{ talentmatrix.type | capitalize }}Matrix
					</h1>
				</div>
			</div>
		</div>
	</div>

	<article>

		<div class="container">
			<div class="row">

				{% block questions %}{% endblock %}

			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-md-12 text-xs-center footer-btn">
					<a href="{{ url }}" class="btn btn-warning">&laquo; Back to board</a>
				</div>
			</div>
		</div>

	</article>

{% endblock %}