{% extends "infopage/about.generic.html.twig" %}

{% block questions %}

	{# Q1 #}
	<div class="col-md-12 qanda">
		<h2>Question: <span class="text-muted">What should I do now?</span></h2>
		<blockquote class="blockquote">
			<p>
				Answer: Frist, say thank you to your team. They spend some time to give you feedback. It means that they care about you as a person and as Team Leader. You can share with them with your results.
			</p>

			<p>Now the best you can do is send it to your Team Leader.</p>

			<p>Then choose what to develop::</p>
			<ul>
				<li>one thing to improve about yourself</li>
				<li>one thing you’re good at</li>
			</ul>
			<p>&nbsp;</p>
			<p>
				Then choose methods (projects, traninings, etc) that will help you develop and <a href=" //andreaciambecchini.typeform.com/to/OWisCj" class="btn btn-warning btn-lg">put them here</a>
			</p>
			<p>&nbsp;</p>
			<p>You can always ask what to do your Team Leader or HR Team or other Team Leader</p>
		</blockquote>
	</div>

{% endblock %}