$white: #fff;
$black: #000;
$secondary: #00C3A5;
$secondaryDark: #00B39B;
$secondaryLight:#E0F7F4;
$secondaryDarker:#00685A;
//$red: #cb3837;

$oldYellow: #f09233;
$oldBlack:#243641;

$primary:#3D83DF;
$primaryLight:#5F9AE8;
$primaryDark:#1662C6;
$dark:#012C6D;

$grayOne: #333;
$grayTwo: #747474;

$red: $primary;
$bg: $white;
$headerBg: $white;
// $headerBg: darken($red,5%);
$introBg: $primaryLight;
$introBgsecondary: $secondary;
$introBg2: $secondary;
$introBgsecondary2: $secondaryDark;
$sectionBg1: $grayTwo;
$sectionBg2: $white;
$footerBg: $white;

$mobile: 768px;
$middle: 1033px;

@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');


body {
	font-family: "Open Sans","OpenSans",sans-serif;
	background: $bg;
	font-size: 16px;
	line-height: 1.35;
	position: relative;
	height:100%;
	overflow-y:scroll;

}

body,p,a,span,div{
	font-family: 'Roboto', sans-serif;

}
h1,h2,h3,h4,h5{
	font-family: 'Work Sans', sans-serif;

}

@import "blocks/header";
@import "blocks/leader/header.leader";

footer {
	padding: 25px 0;
}

@import "blocks/talent-matrix";
@import "blocks/leader/talent-matrix.leader";
@import "blocks/leader/dashboard.leader";
@import "blocks/leader/feedbacktool.leader";

.feedback-continue, .feedback-stop {
	padding: 120px 0 100px;
	background: $sectionBg2;

	h2 {
		margin-bottom: 100px;
	}
}

.feedback-stop {
	border-top: 10px $sectionBg1 solid;
}

.feedback-recommendation, .feedback-continue, .feedback-stop {
	padding: 120px 0 100px;
	background: $sectionBg1;

	h2 {
		color: $white;
		margin-bottom: 100px;
	}

	.blockquote {
		color: $white;
		position:relative;
		margin-bottom: 4rem;
		&-signature{
			position: absolute!important;
			top: -30px;
			font-weight: 500;
		}
		a {
			color: #818a91;
		}
	}
}

.footer-btn {
	.btn {
		position: relative;
		top: -50px;
		font-size: 2rem;
		padding: 1.375rem 3rem;
	}
}

.error-code {
	padding: 50px 0 100px;
	font-size: 14rem;
}

@import "blocks/about";


@page {
	margin-top: 2cm;
	margin-bottom: 2cm;
	margin-left: 1.5cm;
	margin-right: 1.5cm;
}

.page-break-after{
	page-break-after: always;
}