#dashboard{
    background: $white;

    box-shadow: 0 0 20px $grayOne;
    position:relative;
}
article{
    @media print {
        padding:0;
        position: relative!important;
        float: none!important; 
      }
}
.dashboard{
    @media print {
        padding:0;
        position: relative!important;
        float: none!important; 
        display:block;
      }
    padding: 0;
    &__wrapper{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        position: relative;
        background: $white;
        margin: 0 auto;
        padding: 10px;
        padding-bottom: 150px;
        width: 100%;
        color: lighten($grayOne,35%);
        transition:all .5s ease;
        iframe{
            pointer-events:none;

        }
        
        @media print {
            padding:0;
            position: relative!important;
            float: none!important; 
            display:block;
            text-align:center;
          }
        .chart{
            margin:25px 20px;
            cursor:pointer;
            transition:all .5s ease;
            width:370px;
            height:340px;
            display:flex;
            align-items:center;
            justify-content: center;
            flex-direction: column;
            position:relative;
            page-break-before: auto;
            page-break-after: auto; 
            page-break-inside: avoid;
            display: block;
       
            &:nth-child(2n - 1){
            //   page-break-inside:avoid;
            // .hidden{
            //     display:none!important;
        // }
            }
            
            @media print {
                margin:25px 5px;
                width:320px;
                height:100%;
                margin-top:50px;
                display: inline-block!important; 
                float: none !important; position: static !important; display: inline; 
                box-sizing: content-box !important;
            }
            &.hidden{
                display:none;
                opacity:0;
                transition: opacity 1s ease-out;
                @media print{
                    display:none!important;
                    opacity:1;
                }
                &.show{
                    display:inline-block!important;
                    opacity:1;
                    animation: showCharts .5s forwards;
                    @keyframes showCharts {
                        0% { display:none;opacity:0; }
                        50%{ display:inline-block;opacity:0; }
                        100% { display:inline-block;opacity:1; }
                    }
                    @media print{
                        display:none;
                        opacity:1!important;
                    }
                }
            }
            
            &.opinions{
        

                blockquote{
                    page-break-inside: avoid;
                }
                
                justify-content: space-between;
                width:45%;

             

                // max-width:580px;
                label{
                    color:$primaryDark;    
                    font-size: 20px;
                    display:block;
                    text-align:center;                    
                }
                @media (max-width:$middle){
                    width:100%;
                    margin:25px 0;
                    // max-width:100vw;
                }
            }
            &__wrapper{
                height:100%;
                width:100%;
                display:flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                box-shadow: 0 0 20px lighten($grayOne,55%);
                transition:width .2s ease,height .2s ease;
                background:$white;
                @media print {
                    page-break-before: auto;
                    page-break-after: auto; 
                    page-break-inside: avoid;
                }
    
                &.quotes{
                    height:100%;
                    overflow-x:hidden;
                    overflow-y:auto;
                    align-items:flex-start;
                    justify-content: flex-start;
                    padding:20px 0;
                    height:100%;
                    max-height:280px;
                    @media print {
                        max-height:100%;
                       }
                    blockquote{
                        margin-left:10px;
                        font-size: 0.8rem;
                    }
                }
                .show-more{
                    z-index:3;
                    padding:10px;
                    margin-top:-20px;
                    &.hide{
                      
                    }
                }
                span{
                    &:hover{
                        color:$primary;
                    }
                }
                label{
                    font-size: 20px;
                    color:$primaryDark;
                }
                &-container{
                    canvas{
                        height: auto!important;
                        min-height:200px;
                        width: 338px!important;
                        transition:all .3s ease;
                        &#_270Chart,&#knowledgeChart{
                            height:270px!important;
                        }
                    }
                }
                &:hover{
                    background:lighten($grayOne,75%);
                    box-shadow: 0 0 40px lighten($grayOne,55%);
                }
            }
            &.clicked{
                z-index:2;
                .chart__wrapper{
                    position:absolute;
                    iframe{
                        pointer-events:all;
                    }
                }
                &.leftCol{
                    .chart__wrapper{
                        -webkit-animation: animLeft .5s forwards;
                        animation: animLeft .5s forwards;
                    }
                }
                &.rightCol{
                    .chart__wrapper{
                        -webkit-animation: animRight .5s forwards;
                        animation: animRight .5s forwards;
                    }
                }
               
                .chart__wrapper{
              
                    width:500px;
                    height:550px;
                    z-index:2;
                    &-container{
                        canvas{
                            height: 365px!important;
                            width: 465px!important;
                            &#_270Chart,&#knowledgeChart{
                                height:400px!important;
                            }
                        }
                    }
                }
            }
        }
    }
}

@-webkit-keyframes animLeft {
    0% { left: 0px; }
    100% { left: -20px; }
}

@keyframes animLeft {
    0% { left: 0px; }
    100% { left: -20px; }
}
@-webkit-keyframes animRight {
    0% { left:0px; }
    100% { left:-100px; }
}

@keyframes animRight {
    0% { left:0px; }
    100% { left:-100px; }
}

p,img,canvas{
    float: none !important; 
    position: static !important; display: inline; 
    box-sizing: content-box !important;

}