.talent{
    .header{
        background:$primary;	
        box-shadow: 0 0 2px $primaryLight;
        -webkit-box-shadow: 0 0 2px $primaryLight;
    }
    .talent-matrix,.feedback-recommendation {
        background:$dark;
    }
    .text-muted{
        color:$primaryDark;
    }
    .start-btn{
        background: $secondary;
        border: 2px $secondary solid;
    }

}