.leader {
	.talent-matrix {
		padding: 0;
		background: $sectionBg1;
		overflow: auto;
	}

	.talent-matrix-graph {
		position: relative;
		top: -125px;
		background: $white;
		margin: 0 auto;
		padding: 70px 70px 35px 70px;
		box-shadow: 0 0 20px $grayOne;
		width: 875px;
		color: lighten($grayOne,35%);

		&__headline {
			position: absolute;
			padding-top: 140px;
			top: -120px;
			left: 0;
			width: 100%;
			text-align: center;
			color: #666;
		}

		table {
			margin: 0;
			position: relative;
			z-index: 10;
			border: none;
			border-bottom: 1px $white solid;
		}

		.middle td {
			border-bottom: 5px #eceeef solid;
		}

		td {
			width: 40px;
			height: 70px;
			max-height: 70px;
			vertical-align: middle;
			//background: darken($white,2%);
			background: transparent;
			position: relative;
			padding: 0;

			&:first-of-type {
				width: 170px !important;
				max-width: 170px;
				background: $white;
				border: none;

				span {
					background: $white;
					display: inline-block;
					padding: 0 20px 0 0;
					line-height: 110%;
					font-size: 14px;
				}
			}

			.top-25 {
				position: absolute;
				right: 2px;
				bottom: 2px;
				font-size: 12px;
				opacity: 0.5;
			}
		}

		.scores {
			position: absolute;
			top: -50px;

			td {
				border: $white;
				background: $white;
				height: 40px;
				top: 0;
				left: 0;

				span {
					position: relative;
					left: 7px;
					top: 0;
					padding: 0;
					cursor: pointer;
					z-index: 100;
				}
			}
		}

		$solidLinesColor: #666;


		&__score-circle {
			$size: 16px;
			display: block;
			width: $size;
			height: $size;
			border-radius: 50%;
			background: $primary;
			position: absolute;
			z-index: 100;
			left: 0;
			top: 0;
			margin-left: -8px;
			margin-top: 25px;
			border: 2px darken($primary,5%) solid;

			&:hover {
				background: darken($primary, 10%);
				cursor: pointer;
			}
		}

		&__other-score-circle {
			$size: 7px;
			display: block;
			width: $size;
			height: $size;
			border-radius: 50%;
			background: #000;
			position: absolute;
			z-index: 50;
			border: 1px #000 solid;
			margin-left: -4px;
			margin-top: -5px;
			left: 0;
			top: 0;
			opacity: .1;

			&:hover {
				background: #ccc;
				cursor: pointer;
			}
		}
	}

	.talent-matrix-graph__area-label {
		position: absolute;
		bottom: 5px;
		right: 0;
		color: $grayTwo;
		display: block;
		float: right;
		width: 90px;
		font-size: 0.8rem;
		text-align: center;

		&--label-50 {
			right: 90px;
			color: #aaa;
		}

		&--label-25 {
			color: darken(#DDECA9,50%);
		}
	}

	.area-container {
		position: relative;
		width: 100%;
		height: 100%;

		.table-area {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: #DDECA9;
			z-index: 1;

			.area-25 {
				position: absolute;
				z-index: 5;
				left: 219px;
				top: 0;
				width: 100px;
				height: 70px;
				background: darken($white,2%);
			}

			.area-50 {
				position: absolute;
				z-index: 3;
				left: 0;
				bottom: 0;
				width: 0;
				height: 0;
				background: #f5f5f5;
			}
		}
	}

	.legend {
		font-size: 15px;
		margin-bottom: 25px;
		position: relative;
		top: 15px;
		opacity: .7;

		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
		}

		li {
			padding: 5px 0;
		}

		span {
			display: inline-block;
			background: #DDECA9;
			width: 30px;
			height: 16px;
			position: relative;
			top: 3px;
		}
	}
}