<section class="talent-matrix dashboard" id="dashboard">

    <div class="dashboard__wrapper">
        <div class="chart" onclick="resize(this)">
			<div class="chart__wrapper">

				<label for="">Results</label>
				<div class="chart__wrapper-container"><canvas id="resultsChart"></canvas></div>
			</div>
        </div>
		<div class="chart" onclick="resize(this)">
			<div class="chart__wrapper">

				<label for="">Turnover</label>
				<div class="chart__wrapper-container"><canvas id="turnoverChart"></canvas></div>
			</div>
        </div>
		<div class="chart" onclick="resize(this)">
			<div class="chart__wrapper">

				<label for="">OV</label>
				<div class="chart__wrapper-container"><canvas id="ovChart"></canvas></div>
			</div>
        </div>
		<div class="chart" onclick="resize(this)">
			<div class="chart__wrapper">

				<label for="">Team development</label>
				<div class="chart__wrapper-container"><canvas id="teamdevChart"></canvas></div>
			</div>
        </div>
		{# chart 270 #}
		<div class="chart" onclick="resize(this)">
			<div class="chart__wrapper">

				<label for="">270</label>
                <div class="chart__wrapper-container"><canvas id="_270Chart"></canvas></div>
                <span class="show-more" onclick="showMore(this,'270')">
                        Show details
                    </span>
			</div>
		</div>
		{# chart 270 detailed charts start #}
		<div class="chart hidden _270" onclick="resize(this)">
			<div class="chart__wrapper">
				<label for="">270</label>
                <div class="chart__wrapper-container"><canvas id="roleModel"></canvas></div>
			</div>
        </div>
		<div class="chart hidden _270" onclick="resize(this)">
			<div class="chart__wrapper">
				<label for="">270</label>
				<div class="chart__wrapper-container"><canvas id="credibility"></canvas></div>
			</div>
        </div>
		<div class="chart hidden _270" onclick="resize(this)">
			<div class="chart__wrapper">
				<label for="">270</label>
				<div class="chart__wrapper-container"><canvas id="care"></canvas></div>
			</div>
        </div>
		<div class="chart hidden _270" onclick="resize(this)">
			<div class="chart__wrapper">
				<label for="">270</label>
				<div class="chart__wrapper-container"><canvas id="setGoals"></canvas></div>
			</div>
        </div>
		<div class="chart hidden _270" onclick="resize(this)">
			<div class="chart__wrapper">
				<label for="">270</label>
				<div class="chart__wrapper-container"><canvas id="partOfTheTeam"></canvas></div>
			</div>
        </div>
		{# chart 270 detailed charts end #}

		{# chart knowledge #}
        <div class="chart" onclick="resize(this)">
            <div class="chart__wrapper">
                <label for="">Knowledge</label>
                <div class="chart__wrapper-container"><canvas id="knowledgeChart"></canvas></div>
                <span class="show-more" onclick="showMore(this,'knowledge')">
                        Show details
                    </span>
            </div>
        </div>
		{# chart Knowledge detailed charts start #}
		<div class="chart hidden _knowledge" onclick="resize(this)">
			<div class="chart__wrapper">
				<label for="">Knowledge</label>
                <div class="chart__wrapper-container"><canvas id="development"></canvas></div>
			</div>
        </div>
		<div class="chart hidden _knowledge" onclick="resize(this)">
			<div class="chart__wrapper">
				<label for="">Knowledge</label>
				<div class="chart__wrapper-container"><canvas id="negotiation"></canvas></div>
			</div>
        </div>
		<div class="chart hidden _knowledge" onclick="resize(this)">
			<div class="chart__wrapper">
				<label for="">Knowledge</label>
				<div class="chart__wrapper-container"><canvas id="communication"></canvas></div>
			</div>
        </div>
		<div class="chart hidden _knowledge" onclick="resize(this)">
			<div class="chart__wrapper">
				<label for="">Knowledge</label>
				<div class="chart__wrapper-container"><canvas id="WWPP"></canvas></div>
			</div>
        </div>
		<div class="chart hidden _knowledge" onclick="resize(this)">
			<div class="chart__wrapper">
				<label for="">Knowledge</label>
				<div class="chart__wrapper-container"><canvas id="execution"></canvas></div>
			</div>
        </div>
		<div class="chart hidden _knowledge" onclick="resize(this)">
			<div class="chart__wrapper">
				<label for="">Knowledge</label>
				<div class="chart__wrapper-container"><canvas id="facilitation"></canvas></div>
			</div>
        </div>
		{# chart Knowledge detailed charts end #}

		{# opinions lists #}
        <div class="chart opinions">
			<label for="">I should continue</label>
			<div class="chart__wrapper quotes">

                {% include "scoreboard/feedback-continue.dashboard.leader.html.twig" %}
           
            </div>
		
            </div>
                <label for="">I should work on</label>
            <div class="chart opinions">
                <div class="chart__wrapper quotes">
                   
                   {% include "scoreboard/feedback-stop.dashboard.leader.html.twig" %}

                </div>
        </div>
    </div>
</section>

{#  
 #  the data has to be available in the DOM, so we can access it in JS.
#}
<div class="hidden chart-data" data-chart="{{ give_data ? 'true' : 'false' }}">
</div>