{% extends "scoreboard/feedback.generic.html.twig" %}

{% set feedbackClass = "feedback-stop" %}
{% set feedbackId = "feedback-stop" %}
{% set feedbackHeadline = 'Start / Stop <small class="text-muted">doing this</small>' %}
{% set feedbacks = feedbacks.stop %}