{% extends "scoreboard/feedback.generic.html.twig" %}

{% set feedbackClass = "feedback-recommendation" %}
{% set feedbackId = "feedback-recommendation" %}
{% set feedbackHeadline = 'DPralians recommend <small class="text-muted">others to work with you, because:</small>' %}
{% set feedbacks = feedbacks.recommendation %}
{% block score %}
    {% if results != 0 %}
    <div class="row">
        <h2 class="display-3">
            Your score:<small class="text-muted"> {{ results }}</small>
        </h2>
    </div>
    {% endif %}
{% endblock %}