{% if  feedbacks|length > 0 %}
	<section class="{{ feedbackClass }}" id="{{ feedbackId }}">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="display-3">
						{{ feedbackHeadline | raw }}
					</h2>
				</div>

				<div class="col-md-12">
					{% for feedback in feedbacks %}
						<blockquote class="blockquote">
							<p class="blockquote-signature">
								{% if feedback.signature %}
									{{ feedback.signature | nl2br | trim | trim('-') | raw }}
								{% else %}
									Anonymous
								{% endif %}
							</p>
							<p class="m-b-0">
								{{ feedback.comment | nl2br | trim | trim('-') | raw }}
							</p>
						</blockquote>
					{% endfor %}
				</div>

			</div>
			{% block score %}
			{% endblock %}
		</div>
	</section>
{% endif %}