    {% for feedback in feedbacks %}
        <blockquote class="blockquote">
            <p class="blockquote-signature">
                {% if feedback.signature %}
                    {{ feedback.signature | nl2br | trim | trim('-') | raw }}
                {% else %}
                    Anonymous
                {% endif %}
            </p>
            <p class="m-b-0">
                {{ feedback.comment | nl2br | trim | trim('-') | raw }}
            </p>
        </blockquote>
    {% endfor %}