{% extends "scoreboard/feedback.generic.html.twig" %}

{% set feedbackClass = "feedback-continue" %}
{% set feedbackId = "feedback-continue" %}
{% set feedbackHeadline = 'Continue <small class="text-muted">that behaviour</small>' %}
{% set feedbacks = feedbacks.continue %}