<section class="talent-matrix" id="talent-matrix">

	<div class="talent-matrix-graph" data-results="{{ results }}" data-values="{{ values }}" data-area25x="{{ area25x }}" data-area25y="{{ area25y }}" data-area50x="{{ area50x }}" data-area50y="{{ area50y }}"  id="talent-matrix-score-hash">

		{# Table #}
		<div class="area-container">
			<table class="table table-bordered">
				<tbody>
				<tr>
					<td>
						<span class="talent-matrix-graph__number-y">5</span>
						<span class="talent-matrix-graph__number-y last">6</span>
					</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>
						<span class="talent-matrix-graph__number-y">4</span>
					</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>
						<span class="talent-matrix-graph__number-y">3</span>
					</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>
						<span class="talent-matrix-graph__number-y">2</span>
					</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>
						<span class="talent-matrix-graph__number-x first">1</span>
					</td>
					<td>
						<span class="talent-matrix-graph__number-x">2</span>
					</td>
					<td>
						<span class="talent-matrix-graph__number-x">3</span>
					</td>
					<td>
						<span class="talent-matrix-graph__number-x">4</span>
					</td>
					<td>
						<span class="talent-matrix-graph__number-x">5</span>
						<span class="talent-matrix-graph__number-x last">6</span>

						{# Circle with score #}
						<span class="talent-matrix-graph__score-circle" id="score-circle" data-toggle="tooltip" title="You: results: {{ results }}, values: {{ values }}"></span>

						{# Others score #}
						{% for score in all_scoreboards %}
							<span class="talent-matrix-graph__other-score-circle" data-toggle="tooltip" title="Other Crew Member" data-id="other-score" data-other-values="{{ score.talentmatrix_values }}" data-other-results="{{ score.talentmatrix_results }}"></span>
						{% endfor %}

						{# Area label #}
						<span class="talent-matrix-graph__area-label talent-matrix-graph__area-label--label-25">top 25%</span>
						<span class="talent-matrix-graph__area-label talent-matrix-graph__area-label--label-50">top 50%</span>

					</td>
				</tr>
				</tbody>
			</table>

			<div class="table-area">
				<div class="area-25" data-id="area-25"></div>
				<div class="area-50" data-id="area-50"></div>
			</div>
		</div>

		{# Axis labels #}
		<span class="talent-matrix-graph__results">Results</span>
		<span class="talent-matrix-graph__values">Values</span>

	</div>

	<div class="container checkboxes">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				{% set v2momChckbox = has_realisation ? 'checked':'' %}
				{% set bossChckbox = has_boss_feedback ? 'checked':'' %}

				<ul class="list-inline clearfix">
					<li>
						<label class="checkbox">
							<input type="checkbox" {{ v2momChckbox }} disabled/> V2MOM{% if not has_realisation %}<br/>If not checked, then probably because you're new :){% endif %}
						</label>
					</li>
					<li>
						<label class="checkbox">
							<input type="checkbox" {{ bossChckbox }} disabled/> boss's feedback{% if not has_boss_feedback %}<br/>If not checked, go kick his/her ass and ask for it.{% endif %}
						</label>
					</li>
				</ul>

			</div>
		</div>
	</div>
</section>