<section class="talent-matrix" id="talent-matrix">

	<div class="talent-matrix-graph" data-results="{{ results }}" data-values="{{ values }}" data-area25x="{{ area25x }}" data-area25y="{{ area25y }}" data-area50x="{{ area50x }}" data-area50y="{{ area50y }}"  id="talent-matrix-score-hash">

		{# Table #}
		<div class="area-container">

			<table class="table scores text-xs-right">
				<tbody>
				<tr>
					<td><span data-toggle="tooltip" title="I totally disagree">0</span></td>
					<td><span>1</span></td>
					<td><span>2</span></td>
					<td><span>3</span></td>
					<td><span>4</span></td>
					<td><span title="">5</span></td>
					<td><span title="">6</span></td>
					<td><span title="">7</span></td>
					<td><span title="">8</span></td>
					<td><span title="">9</span></td>
					<td><span data-toggle="tooltip" title="I totally agree">10</span></td>
				</tr>
				</tbody>
			</table>

			<table class="table table-bordered">
				<tbody>
					{% set tdWidth = 49 %}
					{% set tdHeight = 70 %}
					{% set otherScoreCircleTop = 35 %}
					{% set otherScoreCircleOffset = 0 %}

					{% for questionId, value in questions %}

						<tr>
							<td class="text-xs-right">
								<span>{{ value | replace({ "%fullname%" : user.name ~ ' ' ~ user.surname}) }}</span>
							</td>
							<td>

								{# Circle #}
								<div class="talent-matrix-graph__score-circle" style="left:{{ (scores[questionId] * tdWidth) + tdWidth/2 }}px" data-toggle="tooltip" title="Your result on this question: {{ scores[questionId]|round(2) }}">
								</div>

								{# Other circles #}
								{% for other_score in scores_all[questionId] %}
									<div class="talent-matrix-graph__other-score-circle" style="left:{{ (scores_all[questionId][loop.index0] * tdWidth) + tdWidth/2 }}px;top:{{ otherScoreCircleTop - random(otherScoreCircleOffset) + random(otherScoreCircleOffset)}}px" data-toggle="tooltip" title="Other crew member"></div>
								{% endfor %}

							</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td>
								<span></span>
							</td>
						</tr>
					{% endfor %}

					<tr>
						<td class="text-xs-right">
							<span>Total score</span>
						</td>
						<td>

							 {#Circle#}
							<div class="talent-matrix-graph__score-circle" style="left:{{ (score_avg * tdWidth) + tdWidth/2 }}px" data-toggle="tooltip" title="Your result on this question: {{ score_avg|round(2) }}">
							</div>

							 {#Other circles#}
							{% for other_score in all_total_scores %}
								<div class="talent-matrix-graph__other-score-circle" style="left:{{ (other_score * tdWidth) + tdWidth/2 }}px;top:{{ otherScoreCircleTop - random(otherScoreCircleOffset) + random(otherScoreCircleOffset)}}px" data-toggle="tooltip" title="Other crew member"></div>
							{% endfor %}

						</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>
							<span></span>
						</td>
					</tr>
				</tbody>
			</table>

			<div class="table-area">
				{% for key, area in areas_25 %}
					<div class="top-margin-{{ loop.index }} area-25"
					     style="width:{{ (area * tdWidth) - tdWidth }}px;top:{{ loop.index0 * tdHeight }}px"></div>
				{% endfor %}
					<div class="top-margin-{{ (areas_25|length)+1 }} area-25"
						style="width:{{ (total_areas_25 * tdWidth) - tdWidth }}px;top:{{ areas_25|length * tdHeight }}px"></div>
			</div>
		</div>

		<div class="legend">
			<ul>
				<li>
					Caption:
				</li>
				<li>
					0. I totally disagree
				</li>
				<li>
					10. I totally agree
				</li>
				<li>
					<span></span> top 50% globally
				</li>
			</ul>
		</div>

	</div>

</section>