{% extends "base/standard-layout.html.twig" %}

{% set bodyArgs = 'class="' ~ talentmatrix.type ~ '"' %}
{% set scrolltoInNavbar = true %}

{% block content %}

	{% if (feedbacks.continue|length > 0 or talentmatrix.type in ['leader', 'manager']) %}

		{% include "scoreboard/intro." ~ talentmatrix.type ~ ".html.twig" %}

		<article>

			{% if talentmatrix.show_scoreboard %}
				{% include "scoreboard/graph." ~ talentmatrix.type ~ ".html.twig" %}
			{% endif %}

			{% if talentmatrix.type == 'manager' %}
				{% include "scoreboard/dashboard." ~ talentmatrix.type ~ ".html.twig" %}
			{% endif %}

			{% include "scoreboard/feedback-continue.html.twig" %}

			{% include "scoreboard/feedback-stop.html.twig" %}

			{% include "scoreboard/feedback-recommendation.html.twig" %}

		</article>

	{% else %}
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-xs-center headline-user" style="margin-top: 100px">
					<p>We don't have enough data :(</p>
				</div>
			</div>
		</div>
	{% endif %}

{% endblock %}