{% if talentmatrix.show_scoreboard %}
	<div class="intro manager" id="intro">
{% else  %}
	<div class="intro" id="intro">
{% endif %}

	<div class="container">
		<div class="row">

			<div class="col-md-12 headline-user">

				<h1 class="display-4">
					{{ user.name }}<br/>{{ user.surname }} {% block generalScore %}{% endblock %}
				</h1>

				{% set photoSize = 120 %}
				{% set doublePhotoSize = photoSize * 2 %}

				{% set url = user.photo ? user.photo ~ '-/resize/' ~ doublePhotoSize ~ 'x/-/crop/' ~ doublePhotoSize ~ 'x' ~ doublePhotoSize ~ '/center/' : '//www.docplanner-platform.com/img/general/doctor/doctor-default-440-440.jpg' %}



				<img src="{{ url }}" alt="" class="img-circle headline-thumb hidden-sm-down" style="width:{{ photoSize }}px;height:{{ photoSize }}px"/>

			</div>

			<div class="col-md-12 text-xs-center">
				<a data-scrollto="#talent-matrix" data-offset="-250" class="btn btn-warning start-btn">
					{% block logo %}{% endblock %}
				</a>
			</div>
		</div>
	</div>
</div>