{% extends "scoreboard/intro.generic.html.twig" %}

{% block generalScore %}
	<br/>
	{% if not talentmatrix.show_scoreboard %}
		<small>
			Your general score:
			<strong>{{ score_avg | round(2) }}</strong>
			(no. of feedbacks:
			<strong>{{ survey_count }}</strong>)
		</small>
	{% endif %}
{% endblock %}

{% block logo %}
	{% if not talentmatrix.show_scoreboard %}
		Your Team<strong>Leader</strong> feedback
	{% else %}
		Your <strong>Manager</strong>Dashboard
	{% endif %}
{% endblock %}