.about-placeholder {
	padding-top: 125px;
	padding-bottom: 25px;
	color: $white;
	background: $grayTwo;
}

.qanda {
	padding-top: 50px;

	h2 {
		margin-bottom: 25px;
	}
}

.about-page {

	.footer-btn {
		padding-top: 50px;

		.btn{
			top: 50px;
		}
	}

	footer {
		background: $grayTwo;
		color: $white
	}
}