header {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	padding: 5px 0;
	background: $headerBg;
	z-index: 10000;
	box-shadow: 0 0 2px $grayTwo;
	-webkit-box-shadow: 0 0 2px $grayTwo;
	opacity: .95;
	.container{
		.row{
			display: flex;
			align-items: center; 
			.menu{
				width:50%;
				text-align:right;
			}
		}
	}
	@media print{
		display:none;
	}
}

.logo {
	position: relative;
	// width: 250px;
	display: block;
	text-decoration: none !important;

	img {
		position: absolute;
		bottom: -10px;
		right: 0;
		width: 120px;
		transition:all 1s ease;
		@media(max-width:$mobile){
			width:80px;
			left: 100px!important;
		}
	}

	p {
		display: block;
		color: $dark;
		text-align: left;
		font-size: 40px;
		font-weight: 700;
		transition:all 1s ease;
		@media(max-width:$mobile){
			font-size:20px;
		}
	}

	span {
		font-weight: 100;
	}
	&.scrolled{
		p{
			font-size:18px;
		}
		img{
			width:80px;
			left:77px!important;
		}
	}
}

.topnav {
	text-align: right;

	a {
		color: $grayOne;
		border-bottom: 1px transparent dotted;
	}

	.active, a:hover {
		border-bottom: 1px $white dotted;
		color:$dark;
	}

	svg {
		fill: $grayOne;
		position: relative;
		top: -2px;
	}

	li ul {
		display: none;
	}

	li:hover > ul {
		display: block;
		position: absolute;
		background: rgba($white, .9);
		padding: 10px;
		border-radius: 5px;
		list-style-type: none;
		width: 150px;
		margin-left: -40px;
		text-align: center;

		li {
			padding: 10px 0;
		}

		a {
			color: $grayOne;
		}
	}
}

.headline-user {
	padding: 70px 0 50px;
	text-align: center;

	h1 {
		color: $white;
		text-align: right;
		line-height: 1.1;
		font-weight: bold;
		display: inline-block;

		small {
			font-size: 2rem;
			opacity: .7;
		}
	}

	.headline-thumb {
		border: 5px $white solid;
		margin: -80px 0 0 10px;
		display: inline-block;
		box-shadow: -60px 20px 120px 70px rgba(255, 255, 255, 0.34);
		filter: grayscale(100%);
		-webkit-filter: grayscale(100%);
	}
}

.start-btn {
	margin-top: 50px;
	background: $secondaryDark;
	border: 2px $secondaryDark solid;
	font-size: 1.25rem;
	padding: 1.25rem 4rem;
	
	&:hover, &:focus, &:active {
		background: $white;
		border-color: $white;
		color: $primary;
	}

	@media (max-width: $mobile){
		padding:10px 30px;
	}
	@media print{
		display:none;
	}
	
}

.intro {
	background: $introBg;
	min-height: 780px;
	padding-top: 150px;
	&.manager{
		background:$introBgsecondary;
		.start-btn{
			background:$primaryDark;
			border: 2px $primaryDark solid;
		}
	}
	@media (max-width: $mobile){
		min-height:550px;
	}
}
// if body has class leader
.leader{
	.intro{
		background:$oldYellow;
		&.manager{
			background:$oldBlack;
			.start-btn{
				background:$oldBlack;
			}
		}
	}
}

.talent{
	.intro{
		background:$introBg;
		&.manager{
			background:$introBgsecondary;
			.start-btn{
				background:$introBgsecondary;
			}
		}
	}
}

.dashboard{
	.intro{
		background:$introBg2;
		&.manager{
			background:$introBgsecondary2;
			.start-btn{
				background:$primaryDark;
			}
		}
	}
}

.title{
	color: $primaryLight;
	font-size:42px;
	line-height: 1.1;
	font-weight: bold;
	text-align:center;
	margin:55px 0;
	position:absolute;
	left:0;
	right:0;
	top:-120px;
}

.hamburger{
	padding: 17px 13px 13px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    outline: 0;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    margin-right: -10px;
	overflow: visible;
	display:none;

	&-box{
		width: 24px;
		height: 16px;
		display: inline-block;
		position: relative;
		
			.hamburger-inner {
				display: block;
				// top: 50%;
				// margin-top: -1px;
				top: 1px;
				transition-duration: .4s;
				transition-timing-function: cubic-bezier(.68,-.55,.265,1.55);
				&:after, &:before {
					content: "";
					display: block;
				}
				
				&, &:after, &:before {
					width: 24px;
					height: 2px;
					background-color: #00b39b;
					border-radius: 2px;
					position: absolute;
					transition-property: transform;
					transition-duration: .15s;
					transition-timing-function: ease;
				}
				&:before{
					top: 7px;
					// transition: opacity .15s ease .4s;
				}
				&:after{
					top:14px;
				}
			}
			
		
	}
	@media(max-width:$mobile){
		display:inline-block;
	}
	&.clicked{
		.hamburger-box{
			.hamburger-inner{
				&{
					background:none;
				}
				&:before{
					transform:rotate(-45deg);
				}
				&:after{
				    transform: rotate(45deg);
					top: 8px;
				}
			}
		}
	}
}

#navbar{
	@media(max-width:$mobile){
		display:none;

		&.show{
			display:block;    
			width: 100vw;
			position: fixed;
			left: 0;
			background:#fff;
			.nav{
				display:flex;
				flex-direction:column;
				align-items:flex-start;
				justify-content: space-between;
				.nav-item{
					padding:20px 0;
					margin-left:1em;
					width: 100%;
					text-align: left;
					ul{
						width:100%;
						background:#fff;
						margin-left:-16px;
						li{
							width:100%;
							text-align:left;
							padding-left:20px;
						}
					}
				}
			}

		}
	}

}