.talent-matrix {
	padding: 0;
	background: $sectionBg1;
}

.talent-matrix-graph {
	position: relative;
	top: -125px;
	background: $white;
	margin: 0 auto;
	padding: 70px;
	box-shadow: 0 0 20px $grayOne;
	width: 875px;
	color: lighten($grayOne,35%);

	&__headline {
		position: absolute;
		padding-top: 140px;
		top: -120px;
		left: 0;
		width: 100%;
		text-align: center;
		color: #666;
	}

	table {
		margin: 0;
		position: relative;
		z-index: 10;
	}

	.middle td {
		border-bottom: 5px #eceeef solid;
	}

	td {
		width: 175px;
		height: 80px;
	}

	$solidLinesColor: #666;

	//td:nth-child(3) {
	//	border-right: 5px $solidLinesColor solid;
	//}
	//
	//tr:nth-child(3) td {
	//	border-bottom: 5px $solidLinesColor solid;
	//}

	&__results, &__values {
		font-size: 20px;
	}

	&__results {
		position: absolute;
		left: 0;
		width: 100%;
		text-align: center;
		top: 486px;
	}

	&__values {
		display: block;
		left: 45px;
		position: absolute;
		top: 271px;
		transform: rotate(270deg);
		transform-origin: left bottom 0;
	}

	&__number-x {
		position: relative;
		bottom: -74px;
		left: -16px;

		&.first {
			left: -25px;
		}

		&.last {
			left: 125px
		}
	}

	&__number-y {
		position: relative;
		top: 55px;
		left: -30px;

		&.last {
			top: -23px;
			left: -42px;
		}
	}

	&__score-circle {
		$size: 30px;
		display: block;
		width: $size;
		height: $size;
		border-radius: 50%;
		background: $primary;
		position: absolute;
		z-index: 100;
		border: 2px darken($primary,5%) solid;

		&:hover {
			background: darken($primary, 10%);
			cursor: pointer;
		}
	}

	&__other-score-circle {
		$size: 9px;
		display: block;
		width: $size;
		height: $size;
		border-radius: 50%;
		background: #ddd;
		position: absolute;
		z-index: 50;
		border: 1px #ccc solid;

		&:hover {
			background: #ccc;
			cursor: pointer;
		}
	}

	//&__checkboxes {
	//	position: absolute;
	//	bottom: -10px;
	//	right: 0;
	//	width: 100%;
	//
	//	.icheckbox_square {
	//		position: absolute !important;
	//		margin-left: -35px;
	//	}
	//
	//	.iCheck-helper {
	//		cursor: not-allowed;
	//	}
	//
	//	li {
	//		float: left;
	//		width: 50%;
	//		margin: 0;
	//		padding-left: 70px;
	//		font-size: 20px;
	//
	//		[type="checkbox"] {
	//			position: relative;
	//			top: -2px;
	//		}
	//	}
	//
	//	.checkbox {
	//		text-align: left;
	//		font-size: 1.15rem;
	//	}
	//}

}

.checkboxes {
	position: relative;
	top: -75px;
	color: $white;
	font-size:1.75rem
}

.talent-matrix-graph__area-label {
	position: absolute;
	bottom: 5px;
	right: 0;
	color: $grayTwo;
	display: block;
	float: right;
	width: 90px;
	font-size: 0.8rem;
	text-align: center;

	&--label-50 {
		right: 90px;
		color: #aaa;
	}

	&--label-25 {
		color: darken(#DDECA9,50%);
	}
}

.area-container {
	position: relative;
	width: 100%;
	height: 100%;

	.table-area {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: #DDECA9;
		z-index: 1;

		.area-25 {
			position: absolute;
			z-index: 5;
			left: 0;
			bottom: 0;
			width: 0;
			height: 0;
			background: $white;
		}

		.area-50 {
			position: absolute;
			z-index: 3;
			left: 0;
			bottom: 0;
			width: 0;
			height: 0;
			background: #f5f5f5;
		}
	}
}