<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				{{ talentmatrix.type | capitalize }}Matrix | Docplanner.com | {{ "now"|date("Y") }}
			</div>
		</div>
	</div>
</footer>