<button type="button" class="hamburger" id="hamburger" onclick="showMenu()">
	<span class="hamburger-box">
		<span class="hamburger-inner"></span>
	</span>
</button>
<nav id="navbar" role="navigation">
	<ul class="nav nav-inline topnav">
		<li class="nav-item">
			<a class="nav-link" href="{{ url }}"{% if scrolltoInNavbar%} data-scrollto="#intro"{% endif %}>Top</a>
		</li>
		{#<li class="nav-item">#}
			{#<a class="nav-link" href="{{ url }}"{% if scrolltoInNavbar%} data-scrollto="#talent-matrix" data-offset="-250"{% endif %}>Your score</a>#}
		{#</li>#}
		<li class="nav-item">
			<a class="nav-link" href="{{ url }}"{% if scrolltoInNavbar%} data-scrollto="#feedback-continue"{% endif %}>Comments</a>
		</li>
		{#<li class="nav-item">#}
			{#<a class="nav-link" href="{{ url }}/about">What's next?</a>#}
		{#</li>#}
		<li class="nav-item your-account">
			<a href="#" class="nav-link">Your account
				<svg width="9px" height="5px" viewBox="42 13 9 5" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					<defs>
						<style>
							.cls-1 {
								fill-rule: evenodd;
							}
						</style>
					</defs>
					<path d="M45.3691294,17.6341012 L42.2132506,14.3009961 L42.2132506,14.3009961 C41.9289165,13.9985511 41.9289165,13.525792 42.2132506,13.2233469 C42.3446605,13.0809875 42.5291892,13.0000795 42.7224614,13.0000795 C42.9157337,13.0000795 43.1002624,13.0809875 43.2316723,13.2233469 L45.9997204,16.141991 L48.7630996,13.2238484 C48.895321,13.0810913 49.080692,13 49.2748066,13 C49.4689212,13 49.6542921,13.0810913 49.7865136,13.2238484 C50.0711621,13.5263614 50.0711621,13.999486 49.7865136,14.3019991 L46.6291247,17.6362178 C46.6006271,17.6854064 46.5664408,17.7322023 46.5265658,17.7756502 C46.3943444,17.9184072 46.2089735,17.9994985 46.0148589,17.9994985 C46.0137528,17.9994985 46.012647,17.9994959 46.0115416,17.9994906 C46.002684,17.9998296 45.9938039,18 45.9849053,18 C45.7907907,18 45.6054197,17.9189087 45.4731983,17.7761516 C45.4326166,17.7319336 45.3979269,17.6842478 45.3691294,17.6341012 Z" id="arrow-icon" stroke="none"></path>
				</svg></a>

			<ul>
				{% for userTalentmatrix in userTalentmatrixes %}
					<li><a href="{{ userTalentmatrix.url }}">{{ userTalentmatrix.name }}</a></li>
				{% endfor %}
			</ul>
		</li>
	</ul>
</nav>